// colors
$brand-text: #2c2f24;
$brand-light-text: #414536;
$brand-dark-gray: #474747;
$brand-red: #ad343e;
$brand-light-gray: #f9f9f7;

// font
$styled-font: "Playfair Display", "Times New Roman", Times, serif;
$normal-font: "DM Sans", Arial, Helvetica, sans-serif;
